<%provide(:title,'Edit user')%> 
 <%provide(:button_text,'Save changes')%>

   <STYLE type="text/css">
  body{
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
 </STYLE>
 <h1>Update your profile</h1>
  <div class="container">
      <div class="col-md-6 col-md-offset-3" id="login"> 
           
  <%=form_for(@user)do|f| %>
      <%= f.label :name%>
  <%= f.text_field :name,class: 'form-control'%>
  <%= f.label :email%>
  <%= f.email_field :email,class: 'form-control'%>
  <%= f.label :password%>
  <%= f.password_field :password,class: 'form-control'%>
  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation,class: 'form-control'%>
  <%= f.label :role%>
  <%= f.text_field :role,class: 'form-control'%>
  <%= f.label :department_name %>
  <%= f.collection_select :department_name, Department.all, :department_name, :department_name ,  method: :update %>
  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  <%end%> 
 		<div class="gravatar_edit">
 			<br>
 			<%=gravatar_for @user%>
 			<a href="https://gravatar.com/emails"target="_blank">Change</a>
 		</div>	
 	</div>
 </div>
<br>
<br>