<% provide(:title, 'All users') %>
<h1>All users</h1>

		<div class="container emp-profile">
  <form method="post">
    <ul class="users">

      <div class="media">
        <div class="media-body">
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name </th>
                <th>Email</th>
                <th>Role</th>
                <th>Depaertment</th>
                <th>Date Join</th>
                <th>Add</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>

            </thead>  
            <tbody>
             <% @users.each do |user| %>                       
             <tr>
              <td><%=  link_to user.name, user %> </td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td><%= user.department_name %></td>
              <td><%= user.created_at  %></td>
              <td><%= 
              link_to "Delete" , user_path(user), method: :delete , class: "btn btn-danger", data: {confirm: "Are you sure delete: #{user.name}???" }%>
              </td> 
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </ul>
</form>
</div>
