 <STYLE type="text/css">
 	.users {
 		list-style: none;
 		margin: 0;
 		li {
 			overflow: auto;
 			padding: 10px 0;
 			border-bottom: 1px solid $gray-lighter;
 		}
 	}
 </STYLE>
 <% provide(:title, 'Manage Department') %>
 <h1>Manage Department</h1>
 <div class="container emp-profile">
 	<% if  current_user.is_manage%>
 	<%= form_tag(search_user_path, :method => "get",   class: 'navbar-form navbar-left') do %>  
 	<div class="input-group">  
 		<%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
 		<div class="input-group-btn">  
 			<%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
 		</div>  
 	</div>  <% end %><% end %>
 	<br>
 	<br>
 	<br>
 	<br>
 	<div class="media">
 		<div class="media-body">
 			<table class="table table-hover">
 				<thead>
 					<tr>
 						<th>Department</th>
 						<th>Edit Department</th>
 						<th>Destroy Department</th>
 						<th></th>
 						<th></th>
 						<th></th>
 					</tr>
 				</thead>
 				
 				<tbody>
 					<% @departments.each do |depart| %>
 					<% if current_user.is_admin%>
 					<tr>
 						<td><%= link_to depart.department_name, depart %></td>
 						<td><%= link_to 'Edit ', edit_department_path(depart), class: 'btn btn-mini btn-success' %></td>
 						<td><%= link_to 'Destroy', department_path(depart), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
 					</tr>
 					<% elsif current_user.is_manage &&  current_user.department_id == depart.id  %>
 					<tr>
 						
 						<td><%= link_to depart.department_name, depart %></td>
 						<td><%= link_to 'Edit ', edit_department_path(depart), class: 'btn btn-mini btn-success' %></td>
 						<td><%= link_to 'Destroy', department_path(depart), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
 					</tr>
 					
 					<% end %>
 					<% end %>
 				</tbody>
 			</table>
 		</div>
 	</div>

 
 	
 	
 </div>