
  <li id="micropost-<%= @request %>"   >
    <span class="user"  style="text-align: center"> <%= link_to request.user.name, request.user %></span>
	<% if request.type_request == "Req_late" %>
  
  <span class="content"><p>Time go late  to  :  <%= request.time_late_to %></p></span>
  <span class="content"><p>Time go late from    :  <%= request.time_late_from %></p></span>

   <% elsif request.type_request == "Req_back_ealy"
   	  %>
  <span class="content"><p>Time back early to :<%= request.time_back_early_to %></p></span>
  <span class="content"><p>Time back early from: <%= request.time_back_early_from %></p></span>

  <% elsif request.type_request == "Req_go_out" %>
  <span class="content"><p>Time back go out to  :  <%= request.time_out_to %></p></span>
  <span class="content"><p>Time back go out  from    :  <%= request.time_out_from %></p></span>
  <% end %>
  <span class="content"><p>Time add to :  <%= request.time_add_to %></p></span>
  <span class="content"><p>Time add from    :  <%= request.time_add_from %></p></span>
     <span class="content"><p>Raeson    :<%= request.reason %></p></span>
    <span class="timestamp">
    Submited <%= time_ago_in_words request.created_at %> ago.
   </span>

   
</li>
