

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Repert daily from <%= @report.user.name %>!</p>
    <p>
   Report Daily<br>
    --------------------------
    </p>
    <p>plan_daily: <%= @report.plan_daily %></p>
    <p>actual_work: <%= @report.actual_work %></p>
    <p>next_plan: <%= @report.next_plan %></p>
    <p>issue: <%= @report.issue %></p>
  
  </body>
</html>